.bg {
  background-color: #0c1317;
}

.chat-header {
  background-color: #202c33;
}

.users {
  overflow: hidden;
  color: #8696a0;
}

.chat-messages {
  max-height: 624px;
  overflow: auto;
  color: #e9edef;
}

.group-img {
  border-radius: 50%;
  height: 50px;
}

.chat {
  width: 45vw;
  height: 80vh;
  background-color: #0b141a;
  background: url("../assets/wa-bg.jpg") center/cover no-repeat;
}

.date {
  background-color: #182229;
  color: #8696a0;
}

.time {
  color: #ffffff99;
}

.message {
  background-color: #202c33;
}

input {
  background-color: #2a3942;
  border-radius: 10px;
}

.message-bar {
  background-color: #202c33;
  max-width: 100%;
}

.send-btn {
  background-color: #04a684;
  border-radius: 50%;
}

.chat-messages::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

.chat-messages::-webkit-scrollbar-thumb {
  background-color: #323a3f;
}

@media (max-width: 960px){
  .chat{
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
  }

  .chat-messages{
    max-height: 70vh;
  }
}
