<div class="bg min-h-screen flex items-center justify-center">
  <div class="chat flex flex-col justify-between text-white rounded-lg">
    <div class="chat-header flex gap-2 p-3 rounded-t-lg items-center">
      <img class="group-img" src="assets/pfp.jpg" alt="pfp image" />
      <div class="flex flex-col">
        <h6 class="text-lg font-bold">mini messages group</h6>
        <p class="users">{{ usersText }}</p>
      </div>
    </div>
    <div>
      <div #container class="chat-messages p-2 flex flex-col relative">
        <div *ngFor="let message of messagesRes?.messages">
          <div class="flex justify-center">
            <h2 class="date p-2 rounded-md text-xs">{{ message._id }}</h2>
          </div>
          <div
            *ngFor="let user of message.dateMessages; let i = index"
            class="text-sm flex gap-2 my-2"
          >
            <div><i class="fa-solid fa-user"></i></div>
            <div class="message p-2 rounded-lg flex flex-col">
              <h3 class="text-xs">{{ user.user }}</h3>
              <div class="flex gap-2">
                <h3>{{ user.message }}</h3>
                <h3 class="time text-xs mt-3">{{ user.time | date : "hh:mm a" }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <form
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
        class="message-bar flex gap-1 items-center p-3 rounded-b-lg"
      >
        <div class="flex flex-col flex-1 justify-between gap-1">
          <input
            type="text"
            class="p-2"
            formControlName="user"
            placeholder="Username"
            required
          />
          <input
            type="text"
            class="p-2"
            formControlName="message"
            placeholder="Message"
            required
          />
          <input type="hidden" formControlName="date" />
          <input type="hidden" formControlName="time" />
        </div>
        <button class="send-btn text-3xl p-3 text-center text-white">
          <i class="fa-solid fa-paper-plane"></i>
        </button>
      </form>
    </div>
  </div>
</div>
