<div class="bg min-h-screen flex items-center justify-center">
  <div class="chat flex flex-col justify-between text-white rounded-lg">
    <div class="chat-header flex gap-2 p-3 rounded-t-lg items-center">
      <img class="group-img" src="assets/pfp.jpg" alt="pfp image" />
      <div class="flex flex-col">
        <h6 class="text-2xl font-bold">mini messages group</h6>
        <p>{{ usersText }}</p>
      </div>
    </div>
    <div>
      <div class="chat-messages p-2">
        <div *ngFor="let message of messagesRes?.messages">
          <h2 class="text-center">{{ message._id }}</h2>
          <div *ngFor="let user of message.users; let i = index">
            <h3>{{ message.users[i] }}</h3>
            <div>
              <h3>{{ message.messages[i] }}</h3>
              <h3>{{ message.times[i] }}</h3>
            </div>
          </div>
        </div>
      </div>
      <form
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
        class="message-bar flex gap-1 items-center p-3 rounded-b-lg"
      >
        <div class="flex flex-col flex-1 justify-between gap-1">
          <input
            type="text"
            class="p-2"
            formControlName="user"
            placeholder="Username"
            required
          />
          <input
            type="text"
            class="p-2"
            formControlName="message"
            placeholder="Message"
            required
          />
          <input type="hidden" formControlName="date" />
          <input type="hidden" formControlName="time" />
        </div>
        <button class="send-btn text-3xl p-3 text-center text-white">
          <i class="fa-solid fa-paper-plane"></i>
        </button>
      </form>
    </div>
  </div>
</div>
